Example/Swift\ Example/Pods
Example/Swift\ Example/Podfile.lock
Example/ObjectiveC\ Example/Pods
Example/ObjectiveC\ Example/Podfile.lock
Pods/
Podfile.lock
Example/Swift\ Example/Carthage
Example/ObjectiveC\ Example/Carthage
