Example/Swift_Example/Pods/*
Example/Swift_Example/Podfile.lock
Example/ObjC_Example/Pods/*
Example/ObjC_Example/Podfile.lock
Example/Swift_Example/Carthage/*
Example/ObjC_Example/Carthage/*
ChannelIO.xcworkspace/xcuserdata/haeunchung.xcuserdatad/*
Example/Swift_Example/Channel Plugin Sample.xcworkspace/xcuserdata/*
Example/ObjC_Example/Channel Plugin Sample objc.xcworkspace/xcuredata/*
